
  body {
margin: 100px;
    background: #c2ee0a;
    font-family:'Plain', sans-serif;
  }

  h1,h2,h3,h4,h5,h6 {
    font-weight:100;
    line-height: normal;
  }

  h1 {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin: 20px 0;
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -2px;
  }

  h3 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    color: #909090;
    font-size: 22px;
    line-height: inherit;
    margin: 0;
  }

  p {
    color: #666262;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
  }

  b, 
  strong {
    font-weight: bold;
    letter-spacing: 0;
  }

  .section {
    padding: 7rem 0;
  }


  /* BUTTON */

  .custom-btn {
    background: transparent;
    border-radius: 2px;
    padding: 14px 24px;
    color: #c2ee0a;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    white-space: nowrap;
    transition: all 0.3s ease;
  }

  .custom-btn:hover {
    color: #c2ee0a;
  }

  .custom-btn:focus {
    box-shadow: none;
  }

  .custom-btn.bordered:hover,
  .custom-btn.bordered:focus,

  .custom-btn.bg-color:hover,
  .custom-btn.bg-color:focus {
    background: #c2ee0a;
    border-color: transparent;
    color: #c2ee0a;
  }

  .bordered {
    border: 1px solid #c2ee0a;
    color: #c2ee0a;
  }

  .bg-color {
    background: #c2ee0a;
    color: #c2ee0a;
  }


  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


  a {
    color: red;
    font-weight: normal;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  a:hover, 
  a:active, 
  a:focus {
    color: #c2ee0a;
    outline: none;
    text-decoration: none;
  }

  .presentacion {
    background-image: url('../imagenes/hero-bg.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
    position: relative;
    
  }

  .clases {
    background: #909090;
    box-shadow: 6px 0 38px rgba(20,20,20,0.10);
    border-radius: 0 0 2px 2px;
    padding: 1rem 2rem;
    text-align: center; 
    padding: 20px;
  }

  .clases-img {

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;

  }

  .clases-info {
    background: #909090;
    box-shadow: 6px 0 38px rgba(20,20,20,0.10);
    border-radius: 0 0 2px 2px;
    padding: 1rem 2rem;
    position: relative;
  }

  .clases-info strong {
    color: #909090;
  }

  .clases-precio {
    background: #f36507;
    border-radius: 4px;
    color: #c2ee0a;
    font-weight: bold;
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
  }


  .horarios {
    background: #666262;
  }

  .horarios-tabla {
    display: table;
    border: 0;
    text-align: center;
  }

  .horarios-tabla strong,
  .horarios-tabla span {
    display: block;
    text-align: center;
  }

  .horarios-tabla strong {
    color: #c2ee0a;
  }

  .horarios-tabla span {
    color: #666262;
  }

  .horarios-tabla span,
  .horarios-tabla small {
    font-size: 28px;
    text-transform: uppercase;
  }

  .horarios-tabla small {
    position: relative;
    top: 10px;
  }

  .table .thead-light th,
  .schedule-table tr td:first-child {
    background: #f36507;
    border: 1px solid #f36507;
    color: #c2ee0a;
  }

  .schedule-table .thead-light th {
    border-bottom: 0;
    text-transform: uppercase;
  }

  .table-bordered td, 
  .table-bordered th {
    border: 1px solid #212122;
  }

  .table-bordered td {
    padding-bottom: 22px;
  }

  .table td, .table th {
    padding: 1rem;
  }

  .custom-btn {
    background: transparent;
    border-radius: 4px;
    padding: 14px 24px;
    color: #c2ee0a;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    white-space: nowrap;
    transition: all 0.3s ease;
  }

  .custom-btn:hover {
    color: #c2ee0a;
  }

  .custom-btn:focus {
    box-shadow: none;
  }

  .custom-btn.bordered:hover,
  .custom-btn.bordered:focus,

  .custom-btn.bg-color:hover,
  .custom-btn.bg-color:focus {
    background: #c2ee0a;
    border-color: transparent;
    color: #c2ee0a;
  }

/* Estilos para la barra de navegación transparente */
nav {
  background-color: rgba(51, 51, 51, 0.7); /* Color de fondo con transparencia */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Valor alto para que esté por encima de todo */
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* Cambiar el color de fondo al pasar el cursor sobre los elementos del menú */
li a:hover {
  background-color: rgba(85, 85, 85, 0.7); /* Color de fondo con transparencia */
}

/* Animación cuando el cursor pasa sobre los elementos del menú */
li a:hover {
  animation: scale 0.3s ease-in-out;
}

/* Definición de la animación */
@keyframes scale {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.webform input,
  button#boton-enviar {
    height: calc(2.25rem + 20px);
  }

  .form-control {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: #666262;
  }

  button#boton-enviar {
    background: #666262;
    border-color: transparent;
    color:  #c2ee0a;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button#submit-button:hover {
    background: #c2ee0a;
  }

  .galeria {
    display: flex;
    
    justify-content: center; /* Centra las imágenes horizontalmente */
   
}

.galeria img {
    width: 200px; /* Define el ancho de las imágenes */
    height: 150px; /* Define la altura de las imágenes */
    margin: 10px; /* Agrega un margen entre las imágenes */
}

.galeria-item {
  background-color: #666262;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
  font-size: 1.5em;
  margin: 5px;
}

.footer {

  background-color: #333;
  text-align: center;
  padding: 20px; 
  font-size: 24px;

}