*{
    background-color: #909090;
    font-family: 'Plain', sans-serif;
    align-items: center;
}
.a div {
    font-family: 'Plain', sans-serif;
    color:#eee
}

.h2 {
    color: #212122;
    font-family: 'Plain', sans-serif;
    font-size: 16px;
    text-align: center;
}
