[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
python-dotenv = "*"
cryptography = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
