.container-wrapper {
  max-width: 1900px;
}

body {
  margin: unset;
}

header {
  align-items: center;
  color: white;
}

/* Estilos para los elementos flexibles en el contenedor Flexbox */
.flex-container > * {
  /* "flex" permite definir cuanto espacio van a ocupar los elementos */
  flex: 1;
  padding: 10px;
  margin: 5px;
  margin: 1%;
  text-align: center;
}

.header .flex-container {
  position: relative;
}

.flex-item.nav ul {
  display: flex;
  justify-content: space-between;
}

/* estilos para las columnas */
.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.col-4 {
  flex: 4;
}

.col-5 {
  flex: 5;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1020;
  width: 100%;
  background: linear-gradient(1deg, #22de3300, #c2ee0a 100px);
}

/* .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(1deg, #22de3300, #C2EE0A 100px);
} */

.search-form {
  width: 200px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  font-size: 14px;
  color: #ffffff;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  color: aliceblue;
}

/*registro-------------------------------------*/

.registro-img {
  background-image: url("../images/registro-image.jpg");
  width: 100%;
  align-items: center;
  display: grid;
  justify-items: center;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  transition: opacity 0.3s;
}

.registro-img:hover {
  opacity: 0.5;
}

.registro-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 2;
  opacity: 0.5;
}

.signupFrm {
  margin: 50px 40px;
}

.signupFrm .container-button {
  display: flex;
}

.image-container {
  margin: 0px;
  padding: 0px;
}

.registro-text h2 {
  transition: opacity 0.3s;
  animation: blinker 5s linear infinite;
}

.flex-item.burger-menu.col-2 {
  display: none;
}

span.burger-icon {
  color: #333;
  border-radius: 10px;
  padding: 10px;
  display: none;
  position: fixed;
  right: 0px;
  z-index: 1020;
  top: 0px;
}

span.burger-icon:hover {
  color: #c2ee0a;
  background: #333;
  padding: 10px;
}

.burger-menu {
  display: none;
}

span.clases-precio:hover {
  transform: scaleX(1.5);
  background-color: #c2ee0a;
  color: #ffffff;
}

/* Breakpoints and responsive desing */
/* Breakpoints and responsive desing */
/* Breakpoints and responsive desing */

/* tablets and small devices*/
@media only screen and (max-width: 992px) {
  .flex-container {
    display: block;
    justify-content: space-between;
  }

  .registro-img {
    max-height: 300px;
  }

  .registro-text {
    display: none;
  }

  h1.title.login100-form-title {
    font-size: 30px;
    font-family: sans-serif;
  }

  .presentacion-text {
    display: none;
  }

  section#nosotros {
    display: block;
  }

  p,
  span {
    font-size: 12px !important;
  }

  h1 {
    font-size: 30px;
  }

  h3,
  h2 {
    font-size: 25px;
  }

  .clase {
    flex-direction: column;
  }

  .clases-img {
    max-height: 300px;
    width: 100%;
  }

  .clases-info {
    width: 100%;
  }

  .flex-item.burger-menu {
    display: none;
  }

  .flex-item.burger-menu li {
    float: unset;
  }

  .flex-item.burger-menu li > * {
    font-size: 21px;
    border: 1px solid #ffffff;
  }

  .flex-item.nav {
    display: none;
  }

  .flex-item.login {
    display: none;
  }

  span.burger-icon {
    display: inline-block;
  }

  .presentacion {
    min-height: 300px !important;
  }

  .horarios-tabla {
    display: none !important;
  }

  .input100 {
    padding: 3%;
    margin: 3%;
  }

  .login-img {
    max-height: 300px;
  }

  .login100-form-btn {
    font-size: 20px !important;
  }

  .flex-item.burger-menu.col-2 {
    border: 1px solid #ffffff;
    max-width: 200px;
    background-color: #c2ee0adb;
    position: fixed;
    right: 0px;
  }

  .link-button {
    font-size: 25px;
    font-weight: 800;
  }

  .alert-validate {
    font-size: 16px;
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2%;
  }

  .header {
    background: #c2ee0a;
  }
}

/*breakpoint*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  p {
    font-size: 16px !important;
  }
}

/*breakpoint*/

/*login-------------------------------------*/

.flex-item.login {
  display: flex;
  justify-content: flex-end;
}

.login-img {
  background-image: url("../images/login-image.jpg");
  width: 100%;
  align-items: center;
  display: grid;
  justify-items: center;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

p.footer {
  /*position: fixed;*/
  /*bottom: 0px;*/
  width: 100%;
}

.flex-item.nav.col-1.tus-reservas {
  margin: 2%;
  border: 1px solid;
  width: 100%;
}

table.table-tusclases {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 1.2rem;
}

table.table-tusclases th,
table.table-tusclases td {
  padding: 20px;
}

.table-tusclases th {
  color: #c2ee0a;
  font-size: 1.3rem;
}
.table-tusclases td.columna-clase-nombre,
.table-tusclases td.columna-dia-semana {
  text-transform: capitalize;
}

.reservas__main {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-reserva {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.filtros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.filtro {
  min-width: 200px;
  max-width: 30%;
}

.form-filtrar-clases,
.form-registrar-clase {
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.form-registrar-clase {
  width: 100%;
}

.form-filtrar-clases h4 {
  color: #c2ee0a;
}

.form-registrar-clase .reservar-btn {
  width: 100%;
  max-width: 200px;
}

.clases-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding-block: 30px;
  flex-wrap: wrap;
  background-color: #50505041;
  border-radius: 10px;
}

.clase-opcion {
}

.nombre-clase {
  text-transform: capitalize;
  font-size: 1.3rem;
  display: inline;
  padding: 20px;
}

.nombre-clase:hover,
.nombre-clase.active {
  background-color: rgba(85, 85, 85, 0.7);
  color: #c2ee0a;
}

.btn-eliminar-reserva {
  background-color: #f83535;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color, background-color;
  transition-duration: 0.3s;
}

.btn-eliminar-reserva:hover {
  color: #f83535;
  background-color: #ffffff;
}

/* Agrega este CSS para dar estilo al toast */
#toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(56, 161, 42);
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  display: none;
}

#toast.show {
  display: block;
}
#toast.success {
  background-color: rgb(56, 161, 42);
}

#toast.error {
  background-color: #f83535;
}
