.container-wrapper {
  max-width: 1900px;
}

body {
  margin: unset;
}

header {
  align-items: center;
  color: white;
}

/* Estilos para los elementos flexibles en el contenedor Flexbox */
.flex-container > * {
  /* "flex" permite definir cuanto espacio van a ocupar los elementos */
  flex: 1;
  padding: 10px;
  margin: 5px;
  margin: 1%;
  text-align: center;
}

.header .flex-container {
  position: relative;
}

.flex-item.nav ul {
  display: flex;
  justify-content: space-between;
}

/* estilos para las columnas */
.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.col-4 {
  flex: 4;
}

.col-5 {
  flex: 5;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1020;
  width: 100%;
  background: linear-gradient(1deg, #22de3300, #c2ee0a 100px);
  backdrop-filter: blur(10px);
}

/* .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(1deg, #22de3300, #C2EE0A 100px);
} */

.search-form {
  width: 200px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  font-size: 14px;
  color: #ffffff;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  color: aliceblue;
}

/*registro-------------------------------------*/

.registro-img {
  background-image: url("../images/registro-image.jpg");
  width: 100%;
  align-items: center;
  display: grid;
  justify-items: center;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  transition: opacity 0.3s;
}

.registro-img:hover {
  opacity: 0.5;
}

.registro-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 2;
  opacity: 0.5;
}

.signupFrm {
  margin: 50px 40px;
}

.signupFrm .container-button {
  display: flex;
}

.image-container {
  margin: 0px;
  padding: 0px;
}

.registro-text h2 {
  transition: opacity 0.3s;
  animation: blinker 5s linear infinite;
}

span.burger-icon {
  color: #333;
  border-radius: 10px;
  padding: 10px;
  display: none;
  position: fixed;
  right: 0px;
  z-index: 1020;
  top: 0px;
}

span.burger-icon:hover {
  color: #c2ee0a;
  background: #333;
  padding: 10px;
}

.burger-menu,
.burger-menu.show {
  display: none;
}

span.clases-precio:hover {
  transform: scaleX(1.5);
  background-color: #c2ee0a;
  color: #ffffff;
}

/*login-------------------------------------*/

.flex-item.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.login-img {
  background-image: url("../images/login-image.jpg");
  width: 100%;
  align-items: center;
  display: grid;
  justify-items: center;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

p.footer {
  /*position: fixed;*/
  /*bottom: 0px;*/
  width: 100%;
}

.flex-item.nav.col-1.tus-reservas {
  margin: 2%;
  border: 1px solid;
  /* width: 100%; */
  display: block;
}

table.table-tusclases {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 1.2rem;
}

table.table-tusclases th,
table.table-tusclases td {
  padding: 20px;
}

.table-tusclases th {
  color: #c2ee0a;
  font-size: 1.3rem;
}

.table-tusclases .campo-nombre {
  display: none;
  color: #c2ee0a;
  font-weight: bold;
  font-size: 1.2rem;
}

.table-tusclases td.columna-clase-nombre p::first-letter,
.table-tusclases td.columna-dia-semana p::first-letter {
  text-transform: capitalize;
}

.reservas__main {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-reserva {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-registrar-clase .filtros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.filtro {
  min-width: 200px;
  max-width: 30%;
}

.form-filtrar-clases,
.form-registrar-clase {
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.form-registrar-clase {
  width: 100%;
}

.form-filtrar-clases h4 {
  color: #c2ee0a;
}

.form-registrar-clase .reservar-btn {
  width: 100%;
  max-width: 200px;
}

.clases-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding-block: 30px;
  flex-wrap: wrap;
  background-color: #50505041;
  border-radius: 10px;
}

.clase-opcion {
}

.nombre-clase {
  text-transform: capitalize;
  font-size: 1.3rem;
  display: inline;
  padding: 20px;
}

.nombre-clase:hover {
  background-color: rgba(85, 85, 85, 0.7);
  color: #c2ee0a;
}

.nombre-clase.active {
  color: rgb(255, 255, 255);
  background-color: #c2ee0a;
}

.btn-eliminar-reserva {
  background-color: #f83535;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color, background-color;
  transition-duration: 0.3s;
}

.btn-eliminar-reserva:hover {
  color: #f83535;
  background-color: #ffffff;
}

/* Agrega este CSS para dar estilo al toast */
#toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(56, 161, 42);
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  display: none;
}

#toast.show {
  display: block;
}

#toast.success {
  background-color: rgb(56, 161, 42);
}

#toast.error {
  background-color: #f83535;
}

#signupFrm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(10px, 5vw, 20px);
}

#signupFrm .input100 {
  margin: 0;
  max-width: 500px;
}

#signupFrm #errorRegistro,
#errorLogin {
  color: #f83535;
  font-size: 1.2rem;
  font-weight: bold;
}

#signupFrm .flex-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fundadoras {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.fundadora {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: clamp(5px, 1vw, 20px);

  background-color: #2b303b;
}
.fundadora p {
  font-size: calc(1rem + 0.2vw);
  width: 100%;
  justify-content: flex-start;
  letter-spacing: 1px;
  padding: clamp(10px, 1vw, 20px);
}

.fundadora .galeria-item img {
  width: 100%;
  object-fit: cover;
  max-width: clamp(300px, 40vw, 1000px);
}

.opcion-con-submenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-open-submenu {
  font-size: 1.3rem;
  cursor: pointer;
  padding: 14px 16px;
  transition: rotate 0.3s, background-color 0.3s;
}

.btn-open-submenu:hover {
  color: #c2ee0a;
  background-color: #2b303b;
  animation: scale 0.3s;
}

.btn-open-submenu.rotate {
  rotate: x 180deg;
}

.submenu {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.submenu.show {
  max-height: 500px; /* Adjust the maximum height as per your needs */
}

.submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu ul li {
  padding: 10px;
}

/* Breakpoints and responsive desing */
/* Breakpoints and responsive desing */
/* Breakpoints and responsive desing */

/* tablets and small devices*/
@media only screen and (max-width: 992px) {
  .flex-container {
    display: block;
    justify-content: space-between;
  }

  .fundadora .galeria-item {
    width: 50%;
  }

  .horarios-tabla {
    padding: 0;
  }

  .registro-img {
    max-height: 300px;
  }

  .registro-text {
    display: none;
  }

  h1.title.login100-form-title {
    font-size: 30px;
    font-family: sans-serif;
  }

  p,
  span {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 30px;
  }

  h3,
  h2 {
    font-size: 25px;
  }

  .clase {
    flex-direction: column;
  }

  .clases-img {
    max-height: 300px;
    width: 100%;
  }

  .clases-info {
    width: 100%;
  }

  .burger-menu.show {
    display: block;
  }

  .flex-item.burger-menu li {
    float: unset;
  }

  .flex-item.burger-menu li > * {
    font-size: 21px;
    border: 1px solid #ffffff;
  }

  .flex-item.nav {
    display: none;
  }

  .flex-item.login {
    display: none;
  }

  span.burger-icon {
    display: inline-block;
  }

  .presentacion {
    padding-top: 10px;
  }

  .presentacion-text h1 {
    letter-spacing: normal;
  }

  .login-img {
    max-height: 300px;
  }

  .login100-form-btn {
    font-size: 20px !important;
  }

  .flex-item.burger-menu.col-2 {
    border: 1px solid #ffffff;
    max-width: 200px;
    background-color: #c2ee0adb;
    position: fixed;
    right: 0px;
  }

  .link-button {
    font-size: 25px;
    font-weight: 800;
  }

  .alert-validate {
    font-size: 16px;
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2%;
  }

  .presentacion-text {
  }

  .presentacion-text h6,
  .presentacion-text h1,
  .presentacion-text a {
    margin-left: 0;
  }
}

/*breakpoint*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  p {
    font-size: 16px !important;
  }
  .seccion-login {
    padding-bottom: 30px;
  }

  #nombreCliente {
    display: none;
  }

  .presentacion-text {
    text-align: center;
    margin-top: 5%;
  }

  .presentacion-text a {
    justify-content: center;
  }

  .presentacion-text h6,
  .presentacion-text h1,
  .presentacion-text a {
    font-size: 1rem;
  }

  .fundadora {
    flex-direction: column;
  }

  .fundadora .galeria-item {
    width: 100%;
  }

  .fundadora .galeria-item img {
    width: 100%;
    max-width: none;
  }

  .signupFrm {
    margin: 10px;
  }

  .form-registrar-clase {
    padding: 10px 15px;
    align-items: center;
  }

  .clases-container {
    justify-content: flex-start;
    gap: 20px;
  }

  .clase-opcion {
    width: 100%;
  }

  .clase-opcion .nombre-clase {
    width: 100%;
    display: inline-block;
  }

  .contenedor-mis-reservas {
    display: flex;
  }

  .table-tusclases thead {
    display: none;
  }

  .table-tusclases tr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .table-tusclases td .campo-nombre {
    display: inline-block;
    text-align: left;
  }
  #mis-reservas {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #mis-reservas td {
    display: flex;
    gap: 20px;
  }

  #mis-reservas td {
    padding: 10px;
  }
}

/*breakpoint*/
