{% extends 'base.html' %} {% block body %}
<!-- Header -->
<header
  id="header"
  class="header"
>
  <div class="flex-container">
    <div class="flex-item logo col-1">
      <a
        href=""
        class="logo"
      >
        Gym & CIA</a
      >
    </div>
    <span class="burger-icon"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        />
      </svg>
    </span>
    <div class="flex-item burger-menu col-2">
      <nav>
        <li>
          <a href="flexbox.html">Inicio</a>
        </li>
        <li>
          <a href="flexbox.html#nosotros">Nosotros</a>
        </li>
        <li>
          <a href="flexbox.html#clases">Clases</a>
        </li>
        <li>
          <a href="flexbox.html#horarios">Horarios</a>
        </li>
        <li>
          <a href="./api.html">Clientes</a>
        </li>
        <li>
          <a href="reservas.html">Reservar</a>
        </li>
        <li>
          <a href="./login.html">Login</a>
        </li>
        <li>
          <a href="./api.html">Registrate</a>
        </li>
      </nav>
    </div>
    <div class="flex-item nav col-2">
      <nav>
        <li>
          <a href="flexbox.html">Inicio</a>
        </li>
        <li>
          <a href="flexbox.html#nosotros">Nosotros</a>
        </li>
        <li>
          <a href="flexbox.html#clases">Clases</a>
        </li>
        <li>
          <a href="flexbox.html#horarios">Horarios</a>
        </li>
        <li>
          <a href="./api.html">Clientes</a>
        </li>
      </nav>
    </div>
    <div class="flex-item login col-3">
      <button class="custom-btn">
        <a href="/reservas.html">Reservar</a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-box-arrow-in-right"
          viewBox="0 0 16 16"
        ></svg>
      </button>
      <button class="custom-btn">
        <a href="./login.html">Login</a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-box-arrow-in-right"
          viewBox="0 0 16 16"
        ></svg>
      </button>
      <button class="custom-btn">
        <a href="./registro.html">Registrate</a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-box-arrow-in-right"
          viewBox="0 0 16 16"
        ></svg>
      </button>
    </div>
  </div>
</header>
<!-- header ----->
{% endblock %}
