<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clientes</title>

    <link rel="stylesheet" href="../../public/styles/api.css">

</head>
<body>
    <h1>Clientes felices</h1>
    <br>
    <h2>Queremos que seas parte de esta gran familia. A continuacion podras conocer algunas de las personas que decidieron dar lo mejor de si y compartirlo con nosotros</h2>

       
  

    <div class="container">
        <button onclick="traerDatosAPI()">presiona para conocerlos</button>
        <a href="flexbox.html"><button>volver al incio</button></a>
    </div>

    <div id="contenido" class="contenido">
        <!-- se contenido.inner.HTML mediante el "id=contenido"
        -->
    </div>


    <script>
       
        function traerDatosAPI() {
            
            fetch('https://randomuser.me/api') 

              
                .then(datos => datos.json()) 
               
               
                .then(datos => {
                    console.log(datos)
                    
                    contenido.innerHTML += `
                        <div class="card">
                            <!-- Muestra una imagen obtenida de los datos de la API. -->
                            <img src="${datos.results[0].picture.large}"</img><br>

                            <!-- Muestra el nombre obtenido de los datos de la API. -->
                            Nombre: ${datos.results[0].name.last}, ${datos.results[0].name.first}<br>

                            <!-- Muestra el nombre de usuario obtenido de los datos de la API. -->
                            User: ${datos.results[0].login.username}<br>

                            <!-- Muestra la contraseña obtenida de los datos de la API. -->
                            Pass: ${datos.results[0].login.password}<br>

                            <!-- Muestra la dirección de correo electrónico obtenida de los datos de la API. -->
                            ${datos.results[0].email}
                        </div>`;
                })
        }
    </script>
</body>
</html>