<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Gymnasionline opiniones</title>
    <link
      rel="stylesheet"
      href="../static/styles/estilos.css"
    />
    <link
      rel="stylesheet"
      href="../static/styles/estilos.boostrap.css"
    />
    <link
      rel="stylesheet"
      href="../static/styles/custom-style.css"
    />
    <link
      rel="stylesheet"
      href="../static/styles/clientes.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/4d2f081ec5.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Header -->
    <header
      id="header"
      class="header"
    >
      <div class="flex-container">
        <div class="flex-item logo col-1">
          <a
            href="../../index.html"
            class="logo"
          >
            Gym & CIA</a
          >
        </div>
        <span class="burger-icon"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-list"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            />
          </svg>
        </span>
        <div class="flex-item burger-menu col-2">
          <nav>
            <ul>
              <li>
                <div class="opcion-con-submenu">
                  <a href="./index.html">Inicio</a>
                  <i
                    id="btnSubMenuInicio"
                    class="fa-solid fa-chevron-down btn-open-submenu"
                  ></i>
                </div>
                <div
                  id="subMenuInicio"
                  class="submenu"
                >
                  <ul>
                    <li>
                      <a href="#nosotros">Nosotros</a>
                    </li>
                    <li>
                      <a href="#clases">Clases</a>
                    </li>
                    <li>
                      <a href="#horarios">Horarios</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="../../index.html#nosotros">Nosotros</a>
              </li>
              <li>
                <a href="../../index.html#clases">Clases</a>
              </li>
              <li>
                <a href="../../index.html#horarios">Horarios</a>
              </li>
              <li>
                <a href="./clientes.html">Clientes</a>
              </li>
              <li
                class="btnReservas"
                style="display: none"
              >
                <a href="./reservas.html">Reservar</a>
              </li>
              <li class="btnLogin">
                <a href="./login.html">Login</a>
              </li>
              <li
                class="btnLogout"
                style="display: none"
              >
                <a
                  href="#"
                  onclick="logout()"
                  >Logout</a
                >
              </li>
              <li class="btnRegistrar">
                <a href="./registro.html">Regístrate</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="flex-item nav col-2">
          <nav>
            <ul>
              <li>
                <a href="../../index.html">Inicio</a>
              </li>
              <li>
                <a href="../../index.html#nosotros">Nosotros</a>
              </li>
              <li>
                <a href="../../index.html#clases">Clases</a>
              </li>
              <li>
                <a href="../../index.html#horarios">Horarios</a>
              </li>
              <li>
                <a href="./clientes.html">Clientes</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="flex-item login">
          <p id="nombreCliente"></p>
          <div
            class="user-icon"
            onclick="toggleLoginRegister()"
          >
            <i class="fa-solid fa-circle-user"></i>
          </div>

          <!-- Botones de login y registro -->
          <div class="login-buttons">
            <button
              id="reservar-btn"
              class="custom-btn"
              style="display: none"
            >
              <a href="./reservas.html">Reservar Clase</a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-box-arrow-in-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
            </button>
            <button
              id="login-btn"
              class="custom-btn"
            >
              <a href="./login.html">Login</a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-box-arrow-in-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
            </button>
            <button
              id="logout-btn"
              class="custom-btn"
              style="display: none"
              onclick="logout()"
            >
              <a
                id="logout-button"
                href="../../index.html"
                >Logout</a
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-box-arrow-in-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
            </button>
            <button
              id="register-btn"
              class="custom-btn"
            >
              <a href="./registro.html">Regístrate</a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-box-arrow-in-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </header>

    <!-- MAIN -->
    <main>
      <h1>Clientes felices</h1>
      <h2>
        Queremos que seas parte de esta gran familia. A continuación podrás conocer algunas de las
        personas que decidieron dar lo mejor de si y compartirlo con nosotros
      </h2>

      <div class="container-opciones">
        <button onclick="traerDatosAPI()">ver otras opiniones</button>
        <a href="../../index.html">
          <button>volver al inicio</button>
        </a>
      </div>

      <div
        id="contenido"
        class="contenido"
      >
        <!-- se contenido.inner.HTML mediante el "id=contenido"
    -->
      </div>
    </main>
    <!-- FOOTER -->
    <footer>
      <p class="footer">Copyright &copy; 2023 Gymnasionline</p>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        traerDatosAPI();
      });

      function traerDatosAPI() {
        let contenido = document.getElementById("contenido");
        contenido.innerHTML = "";
        fetch("https://randomuser.me/api?results=10")
          .then((datos) => datos.json())
          .then((datos) => {
            let resultado = datos.results;
            let i = 0;
            resultado.forEach((persona) => {
              contenido.innerHTML += `
                <div class="card" style=--i:${i}>
                    <!-- Muestra una imagen obtenida de los datos de la API. -->
                    <img src="${persona.picture.large}"</img><br>

                    <!-- Muestra el nombre obtenido de los datos de la API. -->
                    Nombre: ${persona.name.last}, ${persona.name.first}<br>

                    <!-- Muestra el nombre de usuario obtenido de los datos de la API. -->
                    User: ${persona.login.username}<br>

                    <!-- Muestra la contraseña obtenida de los datos de la API. -->
                    Pass: ${persona.login.password}<br>

                    <!-- Muestra la dirección de correo electrónico obtenida de los datos de la API. -->
                    ${resultado[0].email}
                </div>
            `;
              i++;
            });
          });
      }
    </script>
    <script src="../static/js/burger-menu.js"></script>
    <script src="../static/js/login-menu.js"></script>
  </body>
</html>
