<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gymnasionline</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>
    <nav >
        <div>

            <div >
                <ul >
                    <li >
                        <a href="#inicio">Inicio</a>
                    </li>

                    <li >
                        <a href="#nosotros" >Nosotros</a>
                    </li>

                    <li >
                        <a href="#clases">Clases</a>
                    </li>

                    <li >
                        <a href="#horarios" >Horarios</a>
                    </li>

                    <li >
                        <a href="#contacto">Contacto</a>
                    </li>
                    <button><i class="fab fa-instagram fa-lg"></i></button>
                    <button><i class="fab fa-facebook fa-lg"></i></button>  
                        
                </ul>
            </div>
    </nav>
    
     <!-- Presentacion -->
     <section class="presentacion">

           <div>
                <div>

                     <div>
                          <div>

                                <h6>Una nueva forma de contruir un estilo de vida mas saludable!</h6>

                                <h1>Mejora tu condición fisica en Gymnasionline</h1>

                                <a href="" class="btn custom-btn mt-3">Empecemos</a>

                                <a class="btn custom-btn mt-3">Mas info</a>
                               
                          </div>
                     </div>

                </div>
           </div>
 </section>

 <section class="clases">
            <div>
                 <div>
                      <div>

                            <h2>Horarios</h2>

                           <strong>Lunes-Viernes</strong>

                            <p>7:00 AM - 10:00 PM</p>

                            <strong>Sabado</strong>

                            <p>6:00 AM - 4:00 PM</p>
                           </div>
                      </div>
                 </div>
            </div>
</section>

 <!-- NOSOTROS -->
 <section class="galeria">
    <h2 class="clases">Sus fundadoras</h2> 
        <p class="clases">
            Presentamos a Maria Suan, una atleta consumada y una apasionada profesora de fitness en Gymnsaionline. Con un historial impresionante de logros deportivos y una amplia experiencia en entrenamiento físico, Maria Suan es una fuente de inspiración para nuestros miembros. Sus clases son dinámicas y motivadoras, y te ayudarán a alcanzar tus objetivos de manera efectiva y divertida.
            <br>
            Caterina Lipster es una campeona en su disciplina y una entrenadora experta en fitness. Su dedicación y conocimiento son incomparables, y su compromiso con el bienestar de nuestros miembros es evidente en cada clase que imparte. Caterina Lipster te guiará en tu viaje hacia un estilo de vida más activo y saludable con un enfoque personalizado.

            En Gymnsaionline, creemos en la excelencia en la instrucción y en brindar a nuestros miembros una experiencia de fitness de primera clase. Maria Suan y Caterina Lipster son ejemplos vivientes de lo que puedes lograr, y están listas para ayudarte a alcanzar tus metas.
            
        </p>  
     <div >
   
        <div class="galeria-item">
             <img src="imagenes/equipo/team-image.jpg">

            <div>

                 <h3>Maria Suan</h3>
                 <span>Instructora de yoga</span>

                 <ul >
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                 </ul>
            </div>
        </div>
     

    
        <div class="galeria-item">
                <img src="imagenes/equipo/team-image01.jpg">

                    <div>

                            <h3>Caterina Lipster</h3>
                            <span>Entrenadora de Body</span>

                                    <ul>
                                        <li><a href="#" class="fa fa-instagram"></a></li>
                                        <li><a href="#" class="fa fa-facebook"></a></li>
                                    </ul>
                    </div>
        </div>
    </div>

               
 </section class="galeria">


 <!-- CLASES -->
 <section >
           <div>
                <div>

                        <div>

                            <h2>Nuestras clases de entrenamiento</h2>
                         </div>

                        <div>
                            <div>
                                <img class="clases-img" src="imagenes/clases/yoga-class.jpg">

                                <div class="clases-info">
                                    <h3>Yoga</h3>

                                    <span><strong>Dictado por</strong> - Laura</span>

                                    <span class="clases-precio">$3000</span>

                                    <p>¡Bienvenidos a la clase de yoga con Laura! Comenzaremos con una caminata consciente, seguida por el Saludo al Sol para despertar el cuerpo. Practicaremos asanas para fortalecer, prestando atención a la alineación y la respiración. Concluiremos con una relajación profunda en Savasana. Recuerda que el yoga es personal, siéntete libre de ajustar las posturas. Gracias por unirse a la clase. ¡Que tengan una práctica maravillosa! 🙏</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div>
                                <img class="clases-img" src="imagenes/clases/crossfit-class.jpg">

                                <div class="clases-info">
                                    <h3>Areobic</h3>

                                    <span><strong>Dictado por</strong> - Mariana</span>

                                    <span class="clases-precio">$2500</span>

                                    <p>¡Bienvenidos a la clase de aeróbicos con Mariana! Marquemos el inicio con una calentamiento lleno de energía, preparándonos para un cardio explosivo con saltos, giros y movimientos divertidos. Luego, nos enfocaremos en tonificar cada parte del cuerpo. Acompañados de ritmos contagiosos, la música nos guiará en esta experiencia de diversión fitness. Concluiremos con estiramientos y relajación. Gracias por darlo todo en la clase. ¡Nos vemos en la próxima sesión para más diversión y movimiento! 💃💪🎶</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div>
                                <img class="clases-img" src="imagenes/clases/cardio-class.jpg">

                                <div class="clases-info">
                                    <h3>Cardio</h3>

                                    <span><strong>Dictado por</strong> - Cata</span>

                                    <span class="clases-precio">$2500</span>

                                    <p>
                                        ¡Bienvenidos a la clase de cardio con Cata! Preparémonos para una sesión llena de energía y ritmo. Comenzaremos con un calentamiento dinámico, seguido de un cardio explosivo con saltos y movimientos intensos. Trabajaremos en fuerza y resistencia, todo al ritmo de la música. Al final, nos enfriaremos y estiraremos. Gracias por darlo todo, ¡nos vemos en la próxima clase para más diversión y sudor! 💦💪🎉</p>
                                </div>
                            </div>
                        </div>

                </div>
           </div>
 </section>


 <!-- HORARIOS -->
 <section class="horarios">
           <div class="horarios-tabla">
                <div>

                        <div>
                            <h6>Nuestros horarios semanales</h6>

                            <h2>Horarios de entrenamiento</h2>
                         </div>

                         <div >
                             <table class="table table-bordered table-responsive schedule-table">

                                 <thead >
                                     <th><i ></i></th>
                                     <th>Lunes</th>
                                     <th>Martes</th>
                                     <th>Miercoles</th>
                                     <th>Jueves</th>
                                     <th>Viernes</th>
                                     <th>Sabado</th>
                                 </thead>

                                 <tbody>
                                     <tr>
                                        <td><small>7:00 am</small></td>
                                        <td>
                                            <strong>Cardio</strong>
                                            <span>7:00 am - 9:00 am</span>
                                        </td>
                                        <td>
                                            <strong>Power Fitness</strong>
                                            <span>7:00 am - 9:00 am</span>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <strong>Yoga</strong>
                                            <span>7:00 am - 9:00 am</span>
                                        </td>
                                     </tr>

                                     <tr>
                                        <td><small>9:00 am</small></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <strong>Boxeo</strong>
                                            <span>8:00 am - 9:00 am</span>
                                        </td>
                                        <td>
                                            <strong>Aerobico</strong>
                                            <span>8:00 am - 9:00 am</span>
                                        </td>
                                        <td></td>
                                        <td>
                                            <strong>Cardio</strong>
                                            <span>8:00 am - 9:00 am</span>
                                        </td>
                                     </tr>

                                     <tr>
                                        <td><small>11:00 am</small></td>
                                        <td></td>
                                        <td>
                                            <strong>Boxeo</strong>
                                            <span>11:00 am - 2:00 pm</span>
                                        </td>
                                        <td>
                                            <strong>Aerobico</strong>
                                            <span>11:30 am - 3:30 pm</span>
                                        </td>
                                        <td></td>
                                        <td>
                                            <strong>Body work</strong>
                                            <span>11:50 am - 5:20 pm</span>
                                        </td>
                                     </tr>

                                     <tr>
                                        <td><small>2:00 pm</small></td>
                                        <td>
                                            <strong>Boxeo</strong>
                                            <span>2:00 pm - 4:00 pm</span>
                                        </td>
                                        <td>
                                            <strong>Power lifting</strong>
                                            <span>3:00 pm - 6:00 pm</span>
                                        </td>
                                        <td></td>
                                        <td>
                                            <strong>Cardio</strong>
                                            <span>6:00 pm - 9:00 pm</span>
                                        </td>
                                        <td></td>
                                        <td>
                                            <strong>Crossfit</strong>
                                            <span>5:00 pm - 7:00 pm</span>
                                        </td>
                                     </tr>
                                 </tbody>
                             </table>
                         </div>

                </div>
           </div>
 </section>


 <!-- CONTACTo -->
 <section>
      <div>
           <div>

                <div>
                    <h2>Sientanse libres de preguntar lo que sea</h2>

                    <form action="#" method="post" class="contact-form webform" role="form">
                        <input type="text" class="form-control" name="fc-nombre" placeholder="Nombre">

                        <input type="email" class="form-control" name="fc-email" placeholder="Email">

                        <textarea class="form-control" rows="5" name="fc-mensaje" placeholder="Mensaje"></textarea>

                        <button type="submit" class="form-control" id="boton-enviar" name="enviar">Enviar mensaje</button>
                    </form>
                </div>

                <div>
                    <h2 >Donde nos pueden  <span>encontrar</span></h2>

                    <p> Av. Martín García 600, CABA</p>

                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11042.309276397329!2d-58.36348929115536!3d-34.63201303224835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1695838738526!5m2!1ses-419!2sar" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></width="280%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                
           </div>
      </div>
 </section>


 <!-- FOOTER -->
 <footer>
      
    <p class="footer">Copyright &copy; 2023 Gymnasionline</p>
                    
 
</body>
</html>
