<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="../../public/styles/custom-style.css">
    <link rel="stylesheet" href="../../public/styles/estilos.boostrap.css">
</head>
<body class="container-wrapper">
<!-- Body -->
<div class="flex-container">
    <div class="flex-item col-4 image-container">
        <div class="registro-img">
            <div class="registro-text">
            <h2>
                Your Journey, Our Passion
            </br>
                Fitness is a Lifestyle, Not a Duty</h2>
            </div>
        </div>
    </div>
    <div class="flex-item col-3">
        <div class="signupFrm">
            <form  id="signupFrm" action="" type="GET" class="form">
              <h1 class="title login100-form-title">Registrate gratis y empeza a disfrutar de nuestros gymnasios</h1>
              <div>
                Si ya tienes una cuenta, has click <a> Aqui</a> para ingresar!
              </div>
              <div class="flex-item">
                <input type="text" class="input100" placeholder="user@gmail.com">
                <div class="alert-validate">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                    <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"/>
                  </svg>
                  Este campo es obligatorio
                </div>
              </div>
        
              <div class="flex-item">
                <input type="text" class="input100" placeholder=" tu nombre">
                <div class="alert-validate">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                    <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"/>
                  </svg>
                  Este campo es obligatorio
                </div>
              </div>
        
              <div class="flex-item">
                <input type="text" class="input100" placeholder=" escribe tu password">
                <div class="alert-validate">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                    <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"/>
                  </svg>
                  Este campo es obligatorio
                </div>
              </div>
        
              <div class="flex-item">
                <input type="text" class="input100" placeholder="nuevamente tu password">
                <div class="alert-validate">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-lg" viewBox="0 0 16 16">
                    <path d="M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"/>
                  </svg>
                  Este campo es obligatorio
                </div>
              </div>
              <div class="flex-item container-login100-form-btn">
                <input type="submit"  id="sub-form-registro"class="login100-form-btn" value="Sign up">
              </div>
            </form>
          </div>
    </div>
</div>
<script src="../js/validate-form.js"></script>
</body>
</html>