<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="../static/styles/custom-style.css">
    <link rel="stylesheet" href="../static/styles/estilos.boostrap.css">
</head>
<body class="container-wrapper">
<!-- Body -->
<div class="flex-container">
    <div class="flex-item col-4 image-container">
        <div class="registro-img">
            <div class="registro-text">
                <h2>
                    Your Journey, Our Passion
                    <br>
                    Fitness is a Lifestyle, Not a Duty
                </h2>
            </div>
        </div>
    </div>
    <div class="flex-item col-3">
        <div class="signupFrm">
            <form id="signupFrm" action="#" method="GET" class="form">
                <h1 class="title login100-form-title">Registrate gratis y empeza a disfrutar de nuestros gymnasios</h1>
                <div>
                    <p>
                        Si ya tienes una cuenta, has click <a href="login.html"> Aqui</a> para ingresar!
                    </p>
                </div>
                <div class="flex-item">
                    <label for="email" hidden></label>
                    <input type="text" class="input100" id="email" placeholder="user@gmail.com">
                </div>

                <div class="flex-item">
                    <label for="username" hidden></label>
                    <input type="text" class="input100" id="username" placeholder="tu usuario">
                </div>

                <div class="flex-item">
                    <label for="password" hidden></label>
                    <input type="text" class="input100" id="password" placeholder="escribe tu password">
                </div>

                <div class="flex-item">
                    <label for="password-1" hidden></label>
                    <input type="text" class="input100" id="password-1" placeholder="nuevamente tu password">
                </div>
                <div class="flex-item container-login100-form-btn">
                    <input type="submit" id="sub-form-registro" class="login100-form-btn" value="Sign up">
                </div>
            </form>
            <div class="link-button">
                <a href="./">Volver al Inicio</a>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/validate-form.js"></script>
</body>
</html>