<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />

    <title>Gymnasionline reservas</title>
    <link
      rel="stylesheet"
      href="../static/styles/estilos.css"
    />
    <link
      rel="stylesheet"
      href="../static/styles/estilos.boostrap.css"
    />
    <link
      rel="stylesheet"
      href="../static/styles/custom-style.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/4d2f081ec5.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="pagina-reservas">
    <!-- Header -->
    <header
      id="header"
      class="header"
    >
      <div class="flex-container">
        <div class="flex-item logo col-1">
          <a
            href="../../index.html"
            class="logo"
          >
            Gym & CIA</a
          >
        </div>
        <span class="burger-icon"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-list"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            />
          </svg>
        </span>
        <div class="flex-item burger-menu col-2">
          <nav>
            <ul>
              <li>
                <a href="../../index.html">Inicio</a>
              </li>
              <li>
                <a href="../../index.html#nosotros">Nosotros</a>
              </li>
              <li>
                <a href="../../index.html#clases">Clases</a>
              </li>
              <li>
                <a href="../../index.html#horarios">Horarios</a>
              </li>
              <li>
                <a href="./clientes.html">Clientes</a>
              </li>
              <li
                class="btnReservas"
                style="display: none"
              >
                <a href="./reservas.html">Reservar</a>
              </li>
              <li class="btnLogin">
                <a href="./login.html">Login</a>
              </li>
              <li
                class="btnLogout"
                style="display: none"
              >
                <a
                  href="#"
                  onclick="logout()"
                  >Logout</a
                >
              </li>
              <li class="btnRegistrar">
                <a href="./registro.html">Regístrate</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="flex-item nav col-2">
          <nav>
            <ul>
              <li>
                <a href="../../index.html">Inicio</a>
              </li>
              <li>
                <a href="../../index.html#nosotros">Nosotros</a>
              </li>
              <li>
                <a href="../../index.html#clases">Clases</a>
              </li>
              <li>
                <a href="../../index.html#horarios">Horarios</a>
              </li>
              <li>
                <a href="./clientes.html">Clientes</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="flex-item login">
          <div
            class="user-icon"
            onclick="toggleLoginRegister()"
          >
            <i class="fa-solid fa-circle-user"></i>
          </div>

          <!-- Botones de login y registro -->
          <div class="login-buttons">
            <button
              id="reservar-btn"
              class="custom-btn"
              style="display: none"
            >
              <a href="./reservas.html">Reservar Clase</a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-box-arrow-in-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
            </button>
            <button
              id="login-btn"
              class="custom-btn"
            >
              <a href="./login.html">Login</a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-box-arrow-in-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
            </button>
            <button
              id="logout-btn"
              class="custom-btn"
              style="display: none"
              onclick="logout()"
            >
              <a
                id="logout-button"
                href="../../index.html"
                >Logout</a
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-box-arrow-in-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
            </button>
            <button
              id="register-btn"
              class="custom-btn"
            >
              <a href="./registro.html">Regístrate</a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-box-arrow-in-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                />
                <path
                  fill-rule="evenodd"
                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </header>
    <!-- header ----->

    <!-- main -->
    <main class="reservas__main">
      <h1>Hace tu Reserva</h1>
      <form class="form-filtrar-clases">
        <div class="filtros">
          <div class="filtro">
            <label for="dia">Seleccione un Dia</label>
            <select
              name="dia"
              id="dia"
            >
              <option
                selected
                value="1"
              >
                Lunes
              </option>
              <option value="2">Martes</option>
              <option value="3">Miércoles</option>
              <option value="4">Jueves</option>
              <option value="5">Viernes</option>
              <option value="6">Sábado</option>
              <option value="7">Domingo</option>
            </select>
          </div>
        </div>
        <input
          type="submit"
          class="buscar-btn"
          value="Buscar"
        />
      </form>
      <form class="form-registrar-clase">
        <h4>Clases Disponibles:</h4>
        <div
          class="clases-container"
          id="clases-container"
        ></div>

        <input
          type="submit"
          class="reservar-btn"
          value="Reservar"
        />
      </form>

      <div class="flex-container contenedor-mis-reservas">
        <div class="flex-item nav col-1 tus-reservas">
          <h3>Aquí podes ver tus clases</h3>
          <table class="table-tusclases">
            <thead>
              <tr>
                <th>Clase</th>
                <th>Dia Semana</th>
                <th>Hora Inicio</th>
                <th>Instructor</th>
                <th>Fecha Reserva</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="mis-reservas"></tbody>
          </table>
        </div>
      </div>
    </main>
    <!-- Toast que muestra un mensaje -->
    <div
      id="toast"
      class="hidden"
    >
      <p id="toast-message"></p>
    </div>

    <!-- FOOTER -->
    <footer>
      <p class="footer">Copyright &copy; 2023 Gymnasionline</p>
    </footer>
    <script src="../static/js/burger-menu.js"></script>
    <script src="../static/js/login-menu.js"></script>
    <script
      type="module"
      src="../static/js/reservar.js"
    ></script>
  </body>
</html>
