{% extends 'base.html'  %}
{% include 'header.html'  %}

{% block body %}
  <div class="flex-container">
        <div class="flex-item nav col-1 calendario-select">
            <form action="" method="GET">
            <h4>Seleccionar Fecha</h4>      
            <input type="date" name="date" min="2023-11-27" max="2024-12-01" required/>
            <p><button>Submit</button></p>
            </form>
        </div>

        <div class="flex-item col-1 clase-select">
            <form> 
              <h4> Estas son las clases disponibles para {{fecha}}</h4> 
                    <ul>
                        {% for clase in clases_para_dia_seleccionado %}
                          <li class="clases-selecte-one">
                            <a onClick="return confirm('Desea seleccionar esta clase')"href="#">
                            {{ clase[0] }}  - {{ clase[1] }}
                          </a>
                        </li>
                        {% endfor %}
                    </ul>
            </form>
        </div>
    </div>

    <div class="flex-container">
        <div class="flex-item nav col-1 tus reservas">
            <h4>Aqui podes ver tus clases</h4>
            <table class="table-tusclases">
                <tr>
                  <th>Clase</th>
                  <th>Horario</th>
                  <th>Action</th>

                </tr>
                <tr>
                  <td>CrossFit </td>
                  <td>5:00 p.m </td>
                  <td><button onClick="return confirm('Esta seguro que desea eliminarlo?')">Eliminar </button></td>
                </tr>
                <tr>
                </tr>
              </table>
            <li class="clases-selecte-one"></li>
        </div>
    </div>


 <!-- FOOTER -->
 <footer>   
    <p class="footer">Copyright &copy; 2023 Gymnasionline</p>  
 </footer>       
{% endblock %}