* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

body{
    background-image: url("../images/index-image.jpg");
   
    background-attachment: fixed;
    background-size: cover;
}

p {
    padding: 2px;
}
h1 {
    font-size: 1.6em;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    color: rgb(32, 31, 31);
    background-color:rgb(194, 238, 10);
    border-radius: 4px;
    border: 1px solid #303030;
    padding: 5px 15px 2px 15px;
    width: 30%;
    margin: auto;
}

h2 {
    font-size: 1.6em;
    color: rgb(78, 76, 76);
    background-color: rgb(194, 238, 10);
    border-radius: 3px;
    border: 1px solid #303030;
    padding: 5px 15px 2px 15px;
    text-align: center;
    width: 90%;
    margin: auto;
}

h3 {
    font-size: 1.2em;
    color: white;
    background-color:darkseagreen;
    border-radius: 3px;
    border: 1px solid #303030;
    padding: 5px 15px 2px 15px;
}



img {
    border-radius: 10%;
    border: 3px solid rgba(42, 42, 41, 0.74);
    margin: 10px;
}
button {
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(185, 250, 20);
    background-color:rgb(51, 52, 51);
    border-radius: 5px;
    border: 1.5px solid #888787;
    padding: 5px 10px;
    margin: 3px 10px;
}
button:hover{
    transform:scale(1.05);
    filter: -webkit-transform scale(1.3);
}

input {
    font-size: 14px;
    padding: 5px 5px;
}

.container {
    margin:0px auto;
    justify-content: center;
    text-align:center;
    align-items: center;
   

}

.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}


.card {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
    border: 1px solid #9ed107;
    border-radius: 10px;
    margin:4px; padding: 2px;
    width:250px;
    height:240px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(109, 109, 108);
}
.card:hover {
    transform:scale(1.05);
    filter: -webkit-transform scale(1.3);
   
}